<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <!--autowire sirf reference type ke liye hoti hai-->
    <bean id="triangle" class="com.dac.spr.Triangle" autowire="byName"/>
    
    <bean name="pointA" class="com.dac.spr.Point">
        <property name="x" value="10"></property> 
        <property name="y" value="10"></property> 
    </bean>
    <bean name="pointB" class="com.dac.spr.Point">
        <property name="x" value="20"></property> 
        <property name="y" value="120"></property> 
    </bean>
    <bean name="pointC" class="com.dac.spr.Point">
        <property name="x" value="-20"></property> 
        <property name="y" value="-120"></property> 
    </bean>
</beans>

